@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Smooch+Sans:wght@100..900&display=swap');

* {
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

:root {
  --prime: #87ceeb;
  --support: #ff4500;
  --black: #000;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
}

.logo {
  font-family: 'Pacifico', cursive;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);;
}

