@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --pr-1: #ff4500;
  --pr-l: #ba3301;
  --pr-d: #ffa98a;
  --dk-1: #333;
  --dk-l: #555;
  --dk-d: #111;
  --gy-1: #ccc;
  --gy-l: #eee;
  --gy-d: #aaa;
  --bei: #f5f5dc;
  --kha: #f0e68c;
  --gd-1: #daa520;
  --gd-l: #ffd700;
  --gd-d: #b8860b;
  --sky: #87ceeb;
  --red: #ee2121;
  --grn: #299e29;
  --br-s: 3px;
  --br-m: 5px;
  --br-l: 7px;
  --pd-s: 6px;
  --pd-m: 8px;
  --pd-l: 10px;
  --pd-xl: 12px;
}

body {
  background-color: var(--dk-d);
  color: var(--gy-1);
}

button {
  background-color: var(--pr-1);
  color: var(--dk-d);
  font-weight: 400;
  border: none;
  padding: var(--pd-s) var(--pd-l);
}

h1, h3 {
  color: var(--pr-1);
  font-weight: 200;
}

p {
  color: var(--sky);
  font-weight: 200;
}

li {
  margin-top: var(--pd-m);
}

.post-title {
  cursor: pointer;
}

.post-title:hover {
  opacity: 0.7;
}

.pages {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: var(--pr-1);
}

.error {
  color: var(--red);
  font-weight: 500;
}

.loading {
  color: var(--sky);
}

.success {
  color: var(--grn);
  font-weight: 500;
}


